body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chat {
  display: flex;
}

.message {
  font-size: 35px;
}

.user {
  font-size: 15px;
  color: antiquewhite;
  margin-top: 25px;
  padding: 25px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input {
  font-size: 25px;
}

button {
  margin-left: 10px;
  font-size: 25px;
}